body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  color: white;
  transform: rotateX(180deg);
}

/* Main Section */
.background-section img {
  background-image: url("coding.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.bg-text {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.background-section {
  position: relative;
  min-height: 20vh;
  overflow: hidden;
}

/* gradiant*/
nav.navbar {
  background: linear-gradient(to bottom, #DAF7A6 90%, #ffffff) !important;
}

footer {
  background: linear-gradient(to bottom, #ffffff, #DAF7A6 90%);
}

.privacy {
  position: absolute;
  left: 100;
  right: 0;
  margin-right: 2vh;
  margin-top: 6vh;
}

.copyright {
  position: absolute;
  left: 50;
  right: 50;
  font-weight: bold;
  margin-top: 6vh;
}

/* Add this media query to target large screens */
@media (min-width: 992px) {
  .copyright {
    margin-top: 0;
    padding-left: 45%;
  }

  .privacy {
    margin-top: 0;
  }
}

@media (max-width: 435px) {
  .copyright {
    font-size: x-small;
  }

  .privacy {
    font-size: x-small;
  }
}