#xml_rules {
    display: block;
    width: 100%;
    background-color: white;
}

.title {
    background-color: cyan;
    font-size: 2em;
}

.title2 {
    font-size: 1.5em;
}

.rule {
    border: 1px solid black;
    margin: 4px;
    background-color: rgb(233, 233, 233);
    border-radius: 3px;
	height: 99%;
}

.heading {
    font-size: 1.2em;
    padding: 2px;
    margin-bottom: 2px;
    font-weight: bold;
}

.description {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 1.0em;
}

.example {
    padding: 2px;
    margin-bottom: 20px;
    font-size: 1.0em;
    color: blue;
    font-style: italic;
}

/* Media query for responsive design */
@media screen and (min-width: 768px) {
    #xml_rules {
        display: flex;
        flex-flow: row wrap;
    }

    .rule {
        width: 98%;
        margin-top: 12px;
        margin-left: 6px;
    }

    .title, .title2 {
        width: 100%;
    }
}
